<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>CharacterMaker</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/main.css"/>
  
</head>
<body>
  <header>
    <nav>
      <a class="home link underLine" href="/maker">Character Maker</a>
      <ul>
        <li><a id="logoutButton" class="link underLine" href="/logout">Log Out</a></li>
        <li><a id="passwordButton" class="link underLine" href="/passwordChange">User Settings</a></li>
        <li><a id="upgradeButton" class="link underLine" href="upgradeButton">Upgrade</a></li>
        <li><a id="diceButton" class="link underLine" href="#">Dice</a></li>
      </ul>
    </nav>
  </header>
  <div id ="characterWrapper">
    <div id="makeCharacter"> 
    </div>
    <div id="characters"> 
    </div>
  </div>
  
  <div id="characterMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box"/>
    <h3><span id="errorMessage"></span></h3><img id="character" src="assets/img/cain.png" alt="cain"/>
  </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>